<html data-ng-app="mobx-example">
<head>
    <title>MobX React Example</title>
</head>
<body data-ng-controller="RootController as root">
    <h1>MobX Example</h1>
    <button data-ng-click="root.getUsers()">Get Users</button>
    <div>
        <loading></loading>
    </div>
    <ul>
        <li data-ng-repeat="user in root.users">
            <img data-ng-src="{{user.picture.thumbnail}}" width="50"/>
            <span>{{user.name.first}} {{user.name.last}}</span>
        </li>
    </ul>
    <div>
        Total Users: {{root.numberOfUsers}}
    </div>
<script src="/static/bundle.js"></script>
</body>
</html>